.git
.github
.gitignore

.dockerignore

.idea
.vscode

.tap
.nyc_output

bench
build
coverage
docs
scripts
tap-snapshots
tests

node_modules
.yarn-integrity

*.DS_Store

*.log*
*.env
.npmrc
.nvmrc
.local

Dockerfile
README.md
CONTRIBUTING.md
CODE_OF_CONDUCT.md