.devcontainer
.git
.github
.idea
.local
.tap
.vscode
bench
docs
node_modules
scripts
tap-snapshots
tests
.dockerignore
.editorconfig
.eslintrc.js
.gitignore
.npmrc
.nvmrc
CODE_OF_CONDUCT.md
CONTRIBUTING.md
*.env*
*.log*
Dockerfile
eslint.config.mjs
README.md
*.DS_Store
.nyc_output
