.git
.github
.idea
.vscode
.nyc_output
bench
build
coverage
docs
node_modules
scripts
tap-snapshots
tests
*.DS_Store
.dockerignore
*.env
*.log*
.gitignore
.gitlab-ci.yml
.npmrc
.nvmrc
.yarn-integrity
Dockerfile
README.md
CONTRIBUTING.md
CODE_OF_CONDUCT.md