name: Main

on:
  workflow_dispatch:
  pull_request:
    branches: main
    paths:
      - ".github/workflows/**"
      - "lib/**"
      - "tests/**"
      - "package.json"
      - "package-lock.json"
      - "Dockerfile"
      - "index.js"
      - "envSchema.js"
  push:
    branches:
      - main
      - v6.x
    paths:
      - ".github/workflows/**"
      - "lib/**"
      - "tests/**"
      - "package.json"
      - "package-lock.json"
      - "Dockerfile"
      - "index.js"
      - "envSchema.js"

jobs:
  checks:
    uses: ./.github/workflows/checks.yml

  tests:
    needs:
      - checks
    uses: ./.github/workflows/tests.yml
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}

  release-docker:
    needs:
      - tests
    if: ${{ github.ref == format('refs/heads/{0}', github.event.repository.default_branch) }}
    uses: ./.github/workflows/release-docker.yml
    with:
      push: true
    secrets:
      docker_username: ${{ secrets.BOT_DOCKER_USERNAME }}
      docker_token: ${{ secrets.BOT_DOCKER_TOKEN }}
      github_cr_token: ${{ secrets.GITHUB_TOKEN }}
      security_checks_token: ${{ secrets.CRUD_SERVICE_SYSDIG_CHECK_TRIGGER }}
      nexus_username: ${{ secrets.NEXUS_USER }}
      nexus_token: ${{ secrets.NEXUS_TOKEN }}

  security-checks:
    needs:
      - tests
      - release-docker
    if: ${{ github.ref == format('refs/heads/{0}', github.event.repository.default_branch) }}
    uses: ./.github/workflows/security-checks.yml
    with:
      version: main
    secrets:
      security_checks_token: ${{ secrets.CRUD_SERVICE_SYSDIG_CHECK_TRIGGER }}
